<!doctype html>
<html>
<head>
<script src="angular.js"></script>
<script src="script1.js"></script>
</head>
<body>
<div ng-app="DemoApp" ng-controller="DemoCtrl">
<form>
&nbsp;&nbsp;&nbsp;Topic Description:<br> <br>
&nbsp;&nbsp;&nbsp;
Name : <input type="text" ng-model="pname"><br>
&nbsp;&nbsp;&nbsp;
Topic : <br>&nbsp;&nbsp;&nbsp;
<input
type="checkbox"
ng-
model="Topic.Controller">Controller<br>&nbsp;&nbsp;&nbsp;
<input type="checkbox" ng-model="Topic.Models">Models
</form>
</div>
</body>
</html>